@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.frank-logo,
.desktop-links {
  display: none;
}

.burger {
  align-self: flex-start;
}

@media screen and (min-width: 768px) {
  .frank-logo,
  .desktop-links {
    display: block;
  }

  .frank-logo {
    color: #275f63;
    letter-spacing: 2px;
  }

  .desktop-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .burger {
    display: none;
  }

  body .show-case {
    background: url('assets/images/tokyo.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .show-case header nav {
    align-items: center;
    padding: 5px 10%;
  }
}

.show-case {
  position: relative;
  top: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url('assets/images/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  text-align: center;
}

.social {
  display: none;
}

header nav {
  flex-direction: row;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #ec5242;
}

.spec {
  border: 5px solid #ec5242;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .show-case header nav {
    background: rgba(255, 255, 255, 0.795);
  }

  .show-case header .social .social-links {
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #272a31;
    height: 50px;
  }

  .show-case header .social .social-links li a {
    margin-right: 20px;
    color: #fff;
    font-size: small;
  }

  .show-case header .social {
    display: block;
  }

  .show-case header .text {
    margin: 25% 10% 0 10%;
  }

  .show-case header .text h2 {
    font-size: 3.5rem;
    line-height: 70px;
  }

  .show-case header .text h3 {
    font-size: 3.5rem;
    line-height: 70px;
  }

  .show-case header .sub-text {
    margin: 2% 10% 0 10%;
  }

  .show-case header .sub-text .hero-text {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .show-case header .text {
    margin: 15% 10% 0 10%;
  }

  .show-case header .text h2 {
    font-size: 4rem;
    margin: 20px 0 10px 0;
    line-height: 70px;
  }

  .show-case header .text h3 {
    font-size: 4rem;
    line-height: 70px;
  }

  .show-case header .sub-text {
    margin: 2% 10% 0 10%;
  }

  .show-case header .sub-text .hero-text {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1444px) {
  .show-case header .text {
    margin: 10% 10% 0 10%;
  }

  .show-case header .text h2 {
    font-size: 4rem;
    margin: 20px 0 10px 0;
    line-height: 70px;
  }

  .show-case header .text h3 {
    font-size: 4rem;
    line-height: 70px;
  }

  .show-case header .sub-text {
    margin: 2% 10% 0 10%;
  }

  .show-case header .sub-text .hero-text {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu-container {
    width: 100%;
    height: 100vh;
    background-color: #ec5242;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 100%;
    transition: 0.6s;
    z-index: 5;
    display: block;
  }

  .menu-container.isActive {
    left: 0;
  }

  .menu-container .close-btn {
    position: absolute;
    width: 100%;
  }

  .menu-container i {
    position: relative;
    left: 0;
    margin-top: 62px;
    color: #fff;
  }

  .menu-container li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
    padding: 5px;
  }

  .menu-container ul {
    list-style: none;
    position: relative;
    top: 120px;
    left: 0;
  }
}

header .text {
  color: #ec5242;
  margin: 30% 20px 0 20px;
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 35px;
  font-weight: 700;
}

header .text h2,
h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 700;
  font-size: 1.7em;
  line-height: 40px;
}

header .text h2 span {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 700;
}

header .text .greeting-text {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

header .sub-text {
  color: #272a31;
  margin: 0 20px 0 20px;
  max-width: 100%;
  font-size: 1rem;
}

header .sub-text .hero-text {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  margin-top: 20px;
  line-height: 30px;
}

header .sub-text .hero-time {
  font-family: inherit;
  font-style: normal;
  font-size: 24px;
  margin-top: 20px;
}

header .sub-text .hero-place {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 241, 241, 0.8);
}

header nav a h1 {
  font-family: inherit;
}

.main-program {
  font-family: 'Lato', sans-serif;
  background: url('assets/images/layer4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.program-text {
  font-family: inherit;
  font-style: normal;
  font-size: 28px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

.line {
  background-color: #ec5242;
  color: #ec5242;
  width: 50px;
  height: 1px;
  border: none;
  margin: 5px auto 15px auto;
}

@media screen and (min-width: 768px) {
  .main-program .program-details {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  main .main-program .program-details .events {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 10px 40px;
  }

  .main-program .program-details .events ul {
    flex-direction: column;
    border: 1px solid #272a31;
    background-color: #4a4e5736;
    height: 100%;
    padding: 20px 0;
    scale: 0;
  }

  .main-program .program-details .events ul:hover {
    border: 1px solid #f0f0f0;
  }

  .u-btn {
    display: none;
  }

  .a-btn {
    display: none;
  }

  .main-program .program-details .more {
    display: block;
    margin-top: 50px;
  }

  .see-more {
    font-size: 18px;
    color: #fff;
  }

  .main-program .program-details .exp {
    margin-top: -5px;
  }
}

@media screen and (min-width: 1350px) {
  main .main-program .program-details .events {
    padding: 20px 130px;
  }
}

.program-details {
  flex-direction: column;
}

.main-program .program-details .events {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.program-details ul {
  list-style-type: none;
  margin: 10px 0;
  flex-direction: column;
  text-align: center;
}

.program-details ul li {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .feature-artists .artists {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .feature-artists .artists .u-listi {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .feature-artists .artists .u-listi .exp {
    align-self: flex-start;
    text-align: left;
  }

  .u-listi .team-image img:first-child {
    position: relative;
    width: 25%;
    height: 25%;
    top: -62px;
    left: 37px;
  }

  .u-listi .team-image img:last-child {
    position: relative;
    width: 50%;
    height: 25%;
    top: 20px;
    left: -11px;
  }
}

@media screen and (min-width: 1400px) {
  .feature-artists .artists .u-listi .exp {
    margin-right: 100px;
  }
}

.program-details .events .u-list {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #272a31;
  background-color: #e8ebf00c;
}

.main-icon {
  width: 40px;
  height: 40px;
}

.feature-artists .artists .u-listi {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.program-details .exp {
  flex: 2;
  display: inline;
  font-family: inherit;
  font-style: normal;
  font-size: small;
  text-align: left;
  color: #fff;
}

.feature-artists .artists .u-listi .exp {
  align-self: flex-start;
  text-align: left;
}

.ze-line {
  height: 1px;
  border-top: 1px solid #ec5242;
  width: 20px;
  margin: 10px 0;
}

.program-details .criteria {
  flex: 1;
  align-self: center;
  text-align: right;
  font-family: inherit;
  font-style: normal;
  font-size: small;
}

.program-details .criterion {
  flex: 1;
  align-self: center;
  text-align: left;
  font-family: inherit;
  font-style: normal;
  font-size: small;
}

.program-details .btn {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.program-btn {
  padding: 10px;
  text-align: center;
  width: 70%;
  font-size: 15px;
  color: #fff;
  background-color: #ec5242;
  border: 1px solid #ec5242;
  outline: #ec5242;
  margin-bottom: 10px;
}

.u-btn {
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
}

.a-btn {
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
}

.more {
  display: none;
}

.primary-color {
  color: #ec5242;
}

.secondary-color {
  color: #272a31;
}

.tertiary-color {
  color: #d5d8dd;
}

.member-face {
  border: 3px solid #ec5242;
}

.highlight {
  font-size: 18px;
  font-weight: 700;
}

.image-dimension {
  width: 130px;
  height: 130px;
}

.instrument {
  font-style: italic;
  margin-top: 5px;
  background-color: #fff;
}

.footer footer .partner-area {
  background: #272a31;
  padding: 20px;
}

.partners {
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.closing-text {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}

.image-home-dimension {
  width: 150px;
  height: auto;
}

.image-header-dimension {
  width: 100px;
}

.copy-rights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
}
