<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/about.css">
  <title>Document</title>
</head>
<body>
  <div class="show-case">
    <div class="overlay"></div>
    <header>
      <div class="social">
        <ul class="social-links d-flex">
          <a href="#"><li><i class='bx bxl-facebook-circle bx-sm' ></i></li></a>
          <a href="#"><li><i class='bx bxl-twitter bx-sm' ></i></li></a>
          <a href="#"><li>English</li></a>
          <a href="#"><li>My Page</li></a>
          <a href="#"><li>Logout</li></a>
        </ul>
      </div>
      <nav class="d-flex">
        <a class="burger" href="#">
          <i class='bx bx-menu bx-md'></i>
        </a>
        <a href="/layout/home.html">
          <h1 class="frank-logo" >Musica</h1>
        </a>
        <ul class="desktop-links">
          <a class="primary-color" href="/layout/about.html"><li>About</li></a>
          <a class="secondary-color" aria-disabled="true" href="#"><li>Program</li></a>
          <a class="secondary-color" href="#"><li>Join</li></a>
          <a class="secondary-color" href="#"><li>Sponsor</li></a>
          <a class="secondary-color" href="#"><li>News</li></a>
          <a class="primary-color spec" href="#"><li>Campaign</li></a>
        </ul>
      </nav>
      <div class="menu-container">
        <div class="close-btn">
          <i class="bx bx-x bx-lg closeIcon"></i>
        </div>
        <ul>
          <li><a class="side-link" href="/layout/home.html">Home</a></li>
          <li><a class="side-link" href="/layout/about.html">About</a></li>
          <li><a class="side-link" href="#aboutme">Program</a></li>
          <li><a class="side-link" href="#contact">Join</a></li>
          <li><a class="side-link" href="#contact">Sponsor</a></li>
          <li><a class="side-link" href="#contact">Campaign</a></li>
        </ul>
      </div>
      <div class="text">
        <p class="greeting-text primary-color">"Hi Music Enthusiats"</p>
        <h2 class="primary-color"><span class="primary-color">Franky</span><span class="primary-color"> Musical</span></h2>
        <h3 class="primary-color">Gobal Concert <small>2022</small></h3>
      </div>
      <div class="secondary-color">
        <p class="hero-text sub-text">
          The Global Concert brings together the community of experts, musician, and academics who comprise the Creative
          Commons affiliate network in a different country every two.
          This year, we hope to expand our invitation list including organizations and individuals.
        </p>
        <p class="hero-text contact-text">
          Please contact us via Email for any further questions about Global Concert 2022
        </p>
        <p class="contact-email">
          frankyglobalc@globalconcert.com
        </p>
      </div>
    </header>
  </div>
  <main>
    <section class="about">
      <h4 class="program-text secondary-color">Franky Global Musical Concert 2022 logo</h4>
      <hr id="line" class="primary-color">
      <p class="hero-text contact-text">
        This Logo was designed by Graphixray_Designz back at the February 2016 summit. It was accepted after winning
        an award of best logo design. Graphixray_Designz was given a noble prize.
      </p>
      <div class="concert-logo">
        <img src="/assets/images/logo.png" alt="Concert-Logo">
      </div>
    </section>
    <section class="previous-concerts">
      <h4 class="program-text secondary-color">See past Global Concerts</h4>
      <hr id="line" class="primary-color">
      <p class="hero-text contact-text">
        Take a look at two previous concerts that took place in Tokyo and Oslo
      </p>
      <div class="past-events d-flex">
        <a href="#">
          <div class="concert-logo">
            <div class="concert-overlay"></div>
            <img src="/assets/images/tokyo.jpg" alt="Tokyo Concert">
            <div class="overlay-text">
              <p class="overlay-title">2017</p>
              <p class="overlay-desc">Global Concert in Tokyo Japan</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="concert-logo">
            <div class="concert-overlay"></div>
            <img src="/assets/images/oslo.jpg" alt="Oslo Concert">
            <div class="overlay-text">
              <p class="overlay-title">2019</p>
              <p class="overlay-desc">Global Concert in Oslo Norway</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="footer">
      <footer>
        <div class="partner-area">
          <h4 class="program-text secondary-color">Partners</h4>
          <hr id="line" class="primary-color">
          <div class="partners d-flex">
            <img class="image-dimension" src="/assets/images/microsoft-logo-png-2398.png" alt="Microsoft">
            <img class="image-dimension" src="/assets/images/airbnb.png" alt="Airbnb">
            <img class="image-dimension" src="/assets/images/plus.png" alt="Disney">
            <img class="image-dimension" src="/assets/images/google-logo-9834.png" alt="Google">
          </div>
        </div>
        <div class="copy-rights">
          <p class="closing-text">2022 Franky Global Concert <br /> Some rights reserved</p>
        </div>
      </footer>
    </section>
  </main>

  <script src="/JS/script.js"></script>
</body>
</html>