<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Document</title>
</head>
<body>
  <div class="show-case">
    <div class="overlay"></div>
    <header>
      <nav class="d-flex">
        <a href="#">
          <h1>Musica</h1>
        </a>
        <a href="#">
          <i class='bx bx-menu bx-md'></i>
        </a>
      </nav>
      <div class="text">
        <h2>Microverse <br /><span>Musical Team</span></h2>
        <h3>Gobal Concert 2022</h3>
      </div>
      <div class="sub-text">
        <p class="hero-text">
          A joufyl celebration believing in the value of opennes and
          sharing, creating a positive change with people from over 
          80 countries is taking place in October, in Korea.
        </p>
        <p class="hero-time">
          2015.10.15(THU) ~ 16(FRI)
        </p>
        <p class="hero-place">
          @ Upper House Sydney Australia
        </p>
      </div>
      
    </header>
  </div>
    
    
    
    <main>
      <p>Just some random text</p>
    </main>
  
</body>
</html>